validationSuite/SQC2.2.1/XMLSchemaQualityCheckerErrorReport.DTD

<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed Materials - Property of IBM (C) Copyright IBM Corp. 2000, 2002 All Rights Reserved. -->
<!-- DTD for the output of SQC, file created by David Bacigalupo, Revised 2001Apr02 by Bob Schloss, Revised 2001Aug06 by Bob Schloss, Revised 2002Feb04 by Achille Fokoue -->
<!ELEMENT schemaAnalysis (file*)>
<!ATTLIST schemaAnalysis
	SchemaQualityCheckerVersion CDATA #REQUIRED
	cost CDATA #REQUIRED
	haltAtFirstError CDATA #REQUIRED
	requireEachDocumentValid CDATA #REQUIRED
	schemaLanguageVersion CDATA #REQUIRED
	anyWarningsRequestedToBeSuppressed  CDATA #IMPLIED
>
<!ELEMENT file (startdatetime, (error* | noErrorFound), enddatetime)>
<!ATTLIST file
	filename CDATA #REQUIRED
	fileNameWithoutPath CDATA #REQUIRED 
>
<!ELEMENT error (source, message)>
<!ATTLIST error
	severity CDATA #REQUIRED
	type CDATA #REQUIRED
>
<!ELEMENT message (#PCDATA)>
<!ATTLIST message 
	exceptions CDATA #IMPLIED
>


<!ELEMENT source EMPTY>
<!ATTLIST source
	column CDATA #REQUIRED
	line CDATA #REQUIRED
	location CDATA #REQUIRED
	locationWithoutPath CDATA #REQUIRED
>
<!ELEMENT startdatetime (#PCDATA)>
<!ELEMENT enddatetime (#PCDATA)>
<!ELEMENT noErrorFound EMPTY>
